 .modal-body{
     text-align: center;
     position: relative;
     overflow-y: auto;
     max-height: 400px;
     padding: 15px;
 }

 .sidebar-nav .fa {
  width: 100%;
  display: inline;
 }

.sidebarUsename {
  /*color: cyan;*/
}

.legendText {
  color: #FFFFFF;
  font-size: 12pt;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  white-space: pre-wrap;
}

.thecode {
  color: green;
}

#inputtable {
  width: 100%;
}

#inputtable iframe {
  width: 100%;
  height: 100%;
}


#inputtable .tallrow td {
  width: 50%;
  height: 400pt;
}

#inputtable .tallrow td textarea {
  width: 100%;
  height: 100%;
}

.col-lg-12 a {
  text-align: center;
}

.onHover {
  transition: none;
  position: relative;
  margin-left: 20pt;
  color: darkgray;
  display: block;
  max-height: 0pt;
  overflow: hidden;
}

li.sidebarListItem:hover + .onHover {
  transition: max-height ease 0.5s;
  max-height: 20pt;
  /*display: inline;*/
}

#sidebar-wrapper {
  overflow-x: visible;
}
