 .modal-body{
     text-align: center;
     position: relative;
     overflow-y: auto;
     max-height: 400px;
     padding: 15px;
 }

 .sidebar-nav .fa {
  width: 100%;
  display: inline;
 }

.sidebarUsename {
  /*color: cyan;*/
}
